# Gradle
# ------
.gradle
/build

# IDEA
# ----
.idea
.idea/
.shelf
/*.iml
/*.ipr
/*.iws
/out

/out/*.*

# Code Recommenders
.recommenders/

# Logs
# ----
/*.log

# Others
# ----
**/*.class
**/*.bin
**/*.build
**/*.out
build
build/
**/*.jar

# Maven specific

target/